# 빌드 산출물
/dist
/build

# 의존성
/node_modules

# 테스트 커버리지
/coverage

# 배포 관련
.dockerignore
Dockerfile
docker-compose.yml
*.deploy.yml
.gitlab-ci.yml
.github/workflows

# IDE
.idea
.vscode

# 환경설정
.env*
.env.local
.env.development
.env.test
.env.production

# 문서
*.md
*.MD
/docs

# 기타
.git
.gitignore
.prettierrc
.eslintrc
.eslintignore
package-lock.json
yarn.lock
pnpm-lock.yaml

# AWS 관련
.elasticbeanstalk
.ebextensions
.aws

# 로그
*.log
/logs

# 임시 파일
.DS_Store
Thumbs.db

# NestJS 특정 파일
nest-cli.json
.nest
*.hbs
*.ejs

# 생성된 스키마 파일
*.schema.ts
*.entity.js
*.entity.d.ts
